#instOverlay {
    position: absolute;
    // border: 2px solid red; 
    display: none; 
    width: 100vw; 
    height: 100vh;
    bottom: 0;
    color: white;

    background-color: rgba(0,0,0); 
    z-index: 2;
    cursor: pointer;
  }


.instructions {
    margin-top: 25%;
    width: 80%;
}

.instructionsText p{
    margin: 0 0 1% 0;
}

.instructionsText img {
    margin-bottom: 1%;
}