.test {
  border: 2px solid red;
}
.startScreen {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #FF69B4;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}
.title {
  position: absolute;
  font-size: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation-name: fadeIn, slideUp;
  animation-duration: 3s, 0.5s;
  animation-delay: 0s, 4s;
  animation-fill-mode: forwards, forwards;
}
.menu {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 8%;
}
.menu h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}
.difficulty {
  color: yellow;
}
@keyframes slideUp {
  0% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
